

@model OrderDetailsVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                @*   @(Model.Product?.productID != 0 ? "Update" : "Add") *@
                <h2 class="text-white py-2">Order Details</h2>
            </div>
            <div class="col-6 text-dark">
                <a class="btn  fw-bold btn-outline-dark btn-md" asp-action="Index" asp-area="Admin" 
                        asp-controller="Order">
                    Back to Order List
                </a>
            </div>
        </div>
    </div>
    <form method="post" class="row">
      <input asp-for="@Model.OrderHeader.OrderHeaderID" hidden/>
        
        <div class="card-body p-4">
           <div class="row">
                <h3 class="text-dark">Delivery Information</h3>
           </div>
           <div class="row">
            <div class="col-6">
                <div class=" p-3">
                    <div class="form-floating py-2 col-12">
                        @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                        {
                            <input asp-for="OrderHeader.Name" class="form-control border-0 shadow" />
                        }
                        else
                        {
                            <input readonly asp-for="OrderHeader.Name" class="form-control border-0 shadow" />
                        }
                        <label asp-for="OrderHeader.Name" class="ms-2"></label>
                    </div>
                    <div class="form-floating py-2 col-12">
                        @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                        {
                            <input asp-for="OrderHeader.PhoneNumber" class="form-control border-0 shadow" />
                        }
                        else
                        {
                            <input readonly asp-for="OrderHeader.PhoneNumber" class="form-control border-0 shadow" />
                        }
                        <label asp-for="OrderHeader.PhoneNumber" class="ms-2"></label>
                    </div>
                    <div class="form-floating py-2 col-12">
                        @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                        {
                                <input asp-for="OrderHeader.StreetAddress" class="form-control border-0 shadow" />
                        }
                        else
                        {
                                <input readonly asp-for="OrderHeader.StreetAddress" class="form-control border-0 shadow" />
                        }
                        <label asp-for="OrderHeader.StreetAddress" class="ms-2">Street Adress</label>
                        
                    </div>
                    <div class="form-floating py-2 col-12">
                        @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                        {
                                <input asp-for="OrderHeader.City" class="form-control border-0 shadow" />
                        }
                        else
                        {
                                <input readonly asp-for="OrderHeader.City" class="form-control border-0 shadow" />
                        }
                        <label asp-for="OrderHeader.City" class="ms-2"></label>
                       
                    </div>
                    <div class="form-floating py-2 col-12">
                        @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                        {
                                <input asp-for="OrderHeader.State" class="form-control border-0 shadow" />
                        }
                        else
                        {
                                <input readonly asp-for="OrderHeader.State" class="form-control border-0 shadow" />
                        }
                        <label asp-for="OrderHeader.State" class="ms-2"></label>
                        
                    </div>
                    <div class="form-floating py-2 col-12">
                        @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                        {
                                <input asp-for="OrderHeader.PostalCode" class="form-control border-0 shadow" />
                        }
                        else
                        {
                                <input readonly asp-for="OrderHeader.PostalCode" class="form-control border-0 shadow" />
                        }
                        <label asp-for="OrderHeader.PostalCode" class="ms-2"></label>
                       
                    </div>
                    <div class="form-floating py-2 col-12">
                        @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                        {
                                <input asp-for="OrderHeader.NoheasApparelUser.Email" class="form-control border-0 shadow" />
                        }
                        else
                        {
                                <input readonly asp-for="OrderHeader.NoheasApparelUser.Email" class="form-control border-0 shadow" />
                        }
                        <label asp-for="OrderHeader.NoheasApparelUser.Email" class="ms-2"></label>
                       
                    </div>
                    <div class="form-floating py-2 col-12">
                        @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                        {
                                <input type="text" value="@Model.OrderHeader.OrderDate" class="form-control border-0 shadow" />
                        }
                        else
                        {
                            <input type="text" readonly value="@Model.OrderHeader.OrderDate" class="form-control border-0 shadow" />
                        }
                        <label asp-for="OrderHeader.OrderDate" class="ms-2"></label>                   
                    </div>
                    <div class="form-floating py-2 col-12">
                        @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                        {
                                <input id="carrier" type="text" asp-for="OrderHeader.Carrier" class="form-control border-0 shadow" />
                        }
                        else
                        {
                                <input  readonly asp-for="OrderHeader.Carrier" class="form-control border-0 shadow" />
                        }
                        <label asp-for="OrderHeader.Carrier" class="ms-2"></label>
                            <span asp-validation-for="OrderHeader.Carrier"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                        {
                                <input id="trackingNumber" asp-for="OrderHeader.TrackingNumber" class="form-control border-0 shadow" />
                        }
                        else
                        {
                                <input id="trackingNumber" readonly asp-for="OrderHeader.TrackingNumber" class="form-control border-0 shadow" />
                        }
                        <label asp-for="OrderHeader.TrackingNumber" class="ms-2"></label>
                        <span asp-validation-for="OrderHeader.TrackingNumber"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                            <input id="shipDate" readonly value="@Model.OrderHeader.ShippingDate.ToShortDateString()" class="form-control border-0 shadow" />
                        <label asp-for="OrderHeader.ShippingDate" class="ms-2"></label>
                    </div>
                    @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                    {
                        <div class="form-floating py-2 col-12">
                                <input asp-for="OrderHeader.TransactionID" class="form-control border-0 shadow" />
                            <label asp-for="OrderHeader.TransactionID" class="ms-2"></label>
                        </div>
                        @if (string.IsNullOrEmpty(Model.OrderHeader.TransactionID)) 
                        {
                            <div class="form-floating py-2 col-12">
                                    <input id="payDueDate" value="@Model.OrderHeader.PaymentDueDate.ToShortDateString()" class="form-control border-0 shadow" />
                                <label asp-for="OrderHeader.PaymentDueDate" class="ms-2"></label>
                                </div>
                            }
                            else
                            {
                                <div class="form-floating py-2 col-12">
                                    <input type="text" id="payDate" value="@Model.OrderHeader.PaymentDate.ToShortDateString()" class="form-control border-0 shadow" />
                                    <label asp-for="OrderHeader.PaymentDate" class="ms-2"></label>
                                </div>
                            }
                           
                        <div class="form-floating py-2 col-12">
                            <input asp-for="OrderHeader.PaymentStatus" class="form-control border-0 shadow" />
                            <label asp-for="OrderHeader.PaymentStatus" class="ms-2"></label>
                        </div>
                    }
                </div>
            </div>
            <div class="col-5">
                    <h3 class="text-dark align-items-center">Order Summary</h3>
                    <ul class="list-group mb-3">
                      @foreach(var item in Model.OrderDetails)
                        {
                            <li class="list-group-item d-flex justify-content-between">
                                <div>
                                    <input asp-for="@item.OrderHeaderID" hidden/>
                                    <div class="fs-6 my-0">@item.Product.ProductName</div>
                                    <p class="text-muted">Quantity: @item.Count</p>
                                    <p class="text-muted">Price: @item.Product.ProductPrice</p>
                                </div>
                                <span class="text-muted">@(String.Format("{0:C}",item.Price*item.Count))</span>
                            </li>
                          
                        }
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <p class="text-dark">SubTotal:</p>
                            <p class="fw-bold text-dark">@Model.OrderHeader.SubTotal.ToString("c")</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <p class="text-dark">Estimated Tax(10%):</p>
                            <p class="fw-bold text-dark">@Model.OrderHeader.Tax.ToString("c")</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <p class="text-dark">Total(USD):</p>
                            <p class="fw-bold text-dark">@Model.OrderHeader.OrderTotal.ToString("c")</p>
                        </li>
                       @*  <li class="list-group-item d-flex justify-content-between ">
                            <p class="text-dark">Estimated Arrival Date:</p>
                            <br>
                            <p>@Model.OrderHeader.OrderDate.AddDays(5).ToShortDateString() - @Model.OrderHeader.OrderDate.AddDays(10).ToShortDateString()</p>
                        </li> *@
                    </ul>
                    @if (User.IsInRole(StaticDetail.Role_Employee) || User.IsInRole(StaticDetail.Role_Admin))
                    {
                        @if (Model.OrderHeader.OrderStatus == StaticDetail.ApprovedStatus)
                        {
                            <a asp-action="Process" asp-route-id="@Model.OrderHeader.OrderHeaderID"
                                class="btn fw-bold btn-outline-primary form-control">Process</a>
                        }
                        @if (Model.OrderHeader.OrderStatus == StaticDetail.ProcessStatus)
                        {
                            <input type="submit" value="Ship Order" onclick="return validateInput()" formethod="post"
                                    class="btn btn-primary form-control" formaction="/Admin/Order/Ship"/>
                        }

                    }
                    else
                    {
                        @if (Model.OrderHeader.OrderStatus == StaticDetail.ApprovedStatus)
                        {
                            <label class="btn btn-success text-dark fw-bold form-control">@Model.OrderHeader.OrderStatus</label>
                        }
                        else if (Model.OrderHeader.OrderStatus == StaticDetail.PendingStatus)
                        {
                            <label class="btn btn-warning text-dark fw-bold form-control">@Model.OrderHeader.OrderStatus</label>
                        }
                        else if (Model.OrderHeader.OrderStatus == StaticDetail.RejectedPaymentStatus)
                        {
                            <label class="btn btn-danger fw-bold text-dark form-control">@Model.OrderHeader.OrderStatus</label>
                        }
                    }

                    @if (Model.OrderHeader.OrderStatus != StaticDetail.CancelledStatus 
                        && Model.OrderHeader.OrderStatus != StaticDetail.RefundStatus)
                    {
                        @if (User.IsInRole(StaticDetail.Role_Employee) || User.IsInRole(StaticDetail.Role_Admin))
                        {
                            <a class="btn form-control mt-2 btn-outline-danger fw-bold" asp-route-id="@Model.OrderHeader.OrderHeaderID" 
                            asp-action="CancelOrder" asp-controller="Order" asp-area="Admin">
                                Cancel Order
                            </a>
                        }

                    }
                </div>
           </div>
           
        </div>
    </form>

</div>


@section Scripts
{
    <script type="text/javascript" src="~/js/orderDetails.js"></script>
}
